<div class="comment">
    <%= render partial: "comments/showVotes", locals: {comment: comment, current_user: current_user} %>
    <%= link_to(comment.user.name, comment.user) %>
    <br />
    <%= comment.content %>
    <br />
    <%= link_to("reply", {:controller => "comments", :action => "reply", :comment => {:supercomment_id => comment.id, :post_id => post.id}}) %>
    <% comments.where(supercomment_id: comment.id).each do |c|%>
        <%= render partial: "comment", locals: {supercomment_id: comment.supercomment_id, comments: comments, post: post, comment: c} %>
    <% end %>
</div>
