<head>
    <%= csrf_meta_tag %>
</head>

<div class="postTitle">
<%= render partial: "showVotes", locals: {post: @post, current_user: current_user} %>

<h1><%= link_to(@post.title, @post.link) %></h1>
</div>
<% if not current_user.nil? %>
    <%= form_for @comment do |f| %>
        <%= f.text_area :content %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <br />
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit %>
    <% end %>
<% end %>

<% @comments.where(supercomment_id: nil).each do |c| %>
    <%= render partial: "comment",
        locals: {supercomment_id: c.supercomment_id,
                 comments: @comments,
                 post: @post, comment: c } %>

         <% end %>
