<!DOCTYPE html>
<html>
    <head>
        <title>RedditClone</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="header">
            <h2>Reddit-clone</h2>
            <div class="loginInfo">
                <div>
                    <%= link_to("Home", root_path) %> |
                    <% if current_user.nil? %>
                        <%= link_to("Log in", new_user_session_path) %> |
                        <%= link_to("Sign up", new_user_registration_path) %>
                    <% else %>
                        <%= current_user.name %> |
                        <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
                    <% end %>
                </div>
            </div>
        </div>
        <%= yield %>

    </body>
</html>
